<h1>ユーザー一覧</h1>

<div>
  <%= link_to "新規登録", new_user_path, class: "btn btn-primary mb-3" %>
</div>

<table border="1">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>住所</th>
      <th>年齢</th>
      <th>登録日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag set_image(user.picture), class: "cover50 mr-3" %><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= "#{user.age}歳" %></td>
        <td><%= user.created_at.time.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to "編集", edit_user_path(user), class: "btn btn-success" %></td>
        <td><%= link_to "削除", user, method: :delete, data: { confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mx-auto mt-3 pagenate-width">
  <%= paginate @users %>
</div>
