<h1>ユーザー一覧</h1>

<table border="1">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>住所</th>
      <th>年齢</th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= "#{user.age}歳" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
