<div class="input-container">
  <h1 class="mb-5">ユーザー詳細</h1>

  <p>名前：<%= @user.name %></p>
  <p>メールアドレス：<%= @user.email %></p>
  <p>住所：<%= @user.address %></p>
  <p>年齢：<%= @user.age %>歳</p>
  <p><%= link_to "戻る", users_path, class: "btn btn-primary" %></p>
</div><!-- input-container -->
